<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="uk.co.dexter.os.files">
 <application android:theme="@android:style/Theme.Material.NoActionBar" android:label="Dexter Files">
  <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
 </application>
</manifest>
