<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="uk.co.dexter.os.setup">
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <application android:theme="@android:style/Theme.Material.NoActionBar" android:label="Dexter Setup">
        <activity android:name=".SetupActivity" android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
